{{ define "create" }}
{{ template "header"}}

<div class="card">
  <div class="card-header">
  Employees 
  </div>
  <div class="card-body">
    <form></form>
  </div>
</div>



{{template "footer"}}
{{end }}