{{ define "create" }}
{{ template "header"}}

<div class="card">
  <div class="card-header">
  Employees 
  </div>
  <div class="card-body">
    <form method="post" action="/insert">
    
    <div class="form-group">
  <label for="">Name:</label>
  <input type="text" class="form-control" id="inputName" placeholder="Enter your name">
</div>

    <div class="form-group">
  <label for="">Email:</label>
  <input type="text" class="form-control" id="inputName" placeholder="Enter your Email">
</div>
    

    <button type="submit" class="btn btn-primary">Add new employee</button>


    
    </form>
  </div>
</div>



{{template "footer"}}
{{end }}