{{ define "header"}}
{{ template "header" }}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap HTML5 Structure</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light lg-light">
<div class="nav navbar-nav">
<a class="nav-item nav-link active" href="#">Sistem<span class="sr-only"></span>
<a class="nav-item nav-link" href="#">Home</a>



</a>



<div class="container">

{{ end }}