{{ define "header"}}
<!doctype html>
<html lang="en">


<head>
<title>Title</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand navbar-light bg-light">
<div class="nav navbar-nav">
<a class="nav-item nav-link active" href="#">Sistem<span class="sr-only"></span></a>
<a class="nav-item nav-link" href="#">Home</a>
</div>
</nav>



<div class="container">

{{ end }}