{{ define "header"}}
{{ template "header" }}


    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th >Name</th>
          <th>Actions</th>
        </tr>
        <tbody>
        <td>1 </td>
        </tbody>
      </thead>
      
    </table>

{{ template "footer"}}
{{ end }}


  

  