{{ define "start"}}
{{ template "header" }}


    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>email</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>1 </td>
        <td>Elvin </td>
        <td>Soy Elvin</td>
        <td>Edit|Erase</td>
        </tr>
        </tbody>
      
      
    </table>

{{ template "footer"}}
{{ end }}


  

  