{{ define "header"}}
{{ template "header" }}


    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>John Doe</td>
          <td>johndoe@example.com</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jane Smith</td>
          <td>janesmith@example.com</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Mike Johnson</td>
          <td>mikejohnson@example.com</td>
        </tr>
      </tbody>
    </table>

{{ template "footer"}}
{{ end }}


  

  